.menu.full-sidebar {
    li {
        overflow: hidden;
        width: 100%;
        a {
            span {
                opacity: 1;
                white-space: nowrap;
                transition: all 0.7s ease-in-out;
            }
        }
    }
    @media (min-width: 1024px) {
        width: 345px;
        /* transition: all 0.7s ease-in-out; */
    }
    /*/  @media (min-width: 768px) and (max-width: 1023px) {
        width: 80px;
        transition: all 0.7s ease-in-out;
        li {
            &:first-of-type {
                a {
                    width: 100%;
                }
            }
            &:not(:first-of-type) {
                a {
                    transition: all 0.5s ease-in-out;
                    span {
                        white-space: nowrap;
                        opacity: 0;
                    }
                }
            }
        }
    }
    opacity: 1;
    @media (min-width: 0px) and (max-width: 767px) {
        transition: all 0.3s ease-in-out;
        width: 0;
        margin: 0;
        padding: 0;
        li {
            overflow: hidden;
            width: 100%;
        }
    } */
}
.menu.small-sidebar {
    @media (min-width: 768px) {
        width: 80px;
        /* transition: all 0.7s ease-in-out; */
        li {
            width: 100%;
            transition: all 0.7s ease-in-out;

            &:first-of-type {
                a {
                    width: 100%;
                }
            }
            &:not(:first-of-type) {
                a {
                    transition: all 0.5s ease-in-out;
                    span {
                        white-space: nowrap;
                        opacity: 0;
                    }
                }
            }
        }
    }
    @media (min-width: 0px) and (max-width: 767px) {
        position: relative;
        width: 0;
        margin: 0;
        padding: 0;
        li {
            overflow: hidden;
            width: 100%;
            &:first-of-type {
                a {
                    width: 100%;
                }
            }
            &:not(:first-of-type) {
                a {
                    span {
                        white-space: nowrap;
                        opacity: 0;
                        width: 0;
                    }
                }
            }
        }
    }
}

.static-sidebar {
    .full-sidebar {
        @media (min-width: 0px) and (max-width: 767px) {
            display: none;
        }
    }
}

.overlay-sidebar {
    .overlay {
        @media (min-width: 0px) and (max-width: 767px) {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.4);
        }
    }
    .menu {
        &.full-sidebar {
            @media (min-width: 0px) and (max-width: 767px) {
                position: fixed;
                transition: all 0.4s ease-in-out;
                width: 260px;
                li {
                    overflow: hidden;
                    width: 100%;
                    a {
                        span {
                            width: 100% !important;
                            opacity: 1 !important;
                        }
                    }
                }
            }
        }
    }
}

/*  Toggle sidebars with transition */

.fade-enter-active,
.fade-leave-active {
    transition: opacity 0.1s ease;
}

.fade-enter-from,
.fade-leave-to {
    opacity: 0;
}
